.comic-panels-container {
  margin-bottom: 2rem;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100dvh;
}

.panels-grid {
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
  margin-bottom: 2rem;
  justify-content: center;
  justify-items: center;
}

.comic-panel {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  max-width: 400px;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  height: 300px;
}




