.login-page {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}

.login-container {
  width: 80dvw;
  height: 90dvh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: 'login';
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background: white;
  overflow: hidden;
}
