.layout-with-sidebar {
  display: flex;
  width: 100%;
  overflow: hidden;
  position: relative;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
  transition: margin-left 0.3s ease;
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: static;
  z-index: auto;
}

.main-content.padding-mobile {
  padding: 10px;
}

.main-content.padding-desktop {
  padding: 20px;
}

.main-content.margin-collapsed-mobile {
  margin-left: 60px;
}

.main-content.margin-collapsed-desktop {
  margin-left: 80px;
}

.main-content.margin-expanded-mobile {
  margin-left: 0;
  position: relative;
  z-index: 0;
}

.main-content.margin-expanded-desktop {
  margin-left: 290px;
}
