@import url('./assets/fonts/fonts.css');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

:root {
    /* Theme Colors */
    --primary-color: rgb(112, 99, 241);
    --primary-color-hover: rgb(92, 79, 221);
    --secondary-color: rgb(238, 238, 238);
    --secondary-color-hover: rgb(201, 201, 201);
    --background-color: rgb(227, 233, 246);
    --border-color: #dde1e7;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --text-color: #333;
    
    /* Breakpoints */
    --breakpoint-mobile: 480px;
    --breakpoint-tablet: 768px;
    
    /* Sidebar Widths */
    --sidebar-width-desktop: 290px;
    --sidebar-width-tablet: 80%;
    --sidebar-width-mobile: 80%;
    
    /* Collapsed Sidebar Widths */
    --sidebar-collapsed-width-desktop: 80px;
    --sidebar-collapsed-width-tablet: 70px;
    --sidebar-collapsed-width-mobile: 60px;
    
    /* Content Padding */
    --content-padding-desktop: 20px;
    --content-padding-tablet: 12px;
    --content-padding-mobile: 8px;
    
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color:  rgba(111, 99, 241, 0.4);
}